<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="RMRM SJ Module">
    <meta name="author" content="Sung-ju Kim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
 
    <title>Nomad Connection Chatbot Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for( 'static', filename ='css/bootstrap.css')}}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for( 'static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">


    <!-- Custom styles for this template -->

    <link href="{{ url_for('static', filename = 'css/dashboard.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename = 'css/custom.css')}}" rel="stylesheet">




    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var send_count = 0
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                //socket.emit('response', {data: 'I\'m connected!'});
            });

            socket.on('response', function(msg) {
                //$('#log').append('<br>' + $('<div/>').text(msg.data).html());

                $('#log').append('<br>' + $('<div/>').html(msg.data).html());

                window.scrollTo(0,document.body.scrollHeight);
            });

            $('form#emit').submit(function(event) {
                data = $('#emit_data').val()
                socket.emit('request', {data: data });

                $('#log').append('<br><div align="right"> ' + $('<div/>').text(data).html() + '</div>');

                $('#emit_data').val('')
                window.scrollTo(0,document.body.scrollHeight);

                send_count += 1
                return false;

            });

        });
    </script>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top"  style="background-color:#4a4a4a;">
      <div class="container-fluid">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#" style="color:white;">Nomad Connection Chatbot Demo</a>
        </div>
        <!--<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">업로드<span class="caret"></span></a> 
                <ul class="dropdown-menu">
                    <li>
                        dropdown    
                    </li>
                </ul>
            </li>
            <li><a href="#">설정</a></li>
            
          </ul>
          <form id='search_form' class="navbar-form navbar-right">
            <input id='keyword' type="text" class="form-control" placeholder="검색...">
          </form>
        </div>-->
      </div>
    </nav>



    <div class='jumbotron'> 안녕하세요 노매드 커넥션 데모 챗봇 입니다. 도움이 필요하신 경우 도움말이라고 입력해주세요.</div>
    <div id="log"></div>

    <footer class="footer">
    <form id="emit" method="POST" action='#' class="form input-group">
        <input type="text" class="form-control" name="emit_data" id="emit_data" placeholder="Message">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-default">전송</button> 
        </span>
    </form>
    </footer>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>

    
</body>
</html>

